body
{
	background-image:url('../images/sos.png');	
	font-family: 'Muli', sans-serif;
	font-size:1.6em;
 
      
}


/*
nav
{
	position:fixed;
	background-image:url('../images/sos.png');
        background-repeat:no-repeat;
	float:right;
	opacity:0.9;
	border: solid 1px #C0C0C0;
	box-shadow: 5px 5px 5px #C8C8C8;
	border-bottom-left-radius:2em;
}
*/

#main
{
	margin-left:auto;
	margin-right:auto;
        margin-top:5%;
	width: 340px;
        color: #7e7975;
        background: #fffafb;
	padding:15px;
        border: solid 1px #C0C0C0;
	box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4);
	border-radius: 4px;
	
}

h1
{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #ffb347;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    text-transform: uppercase;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

a{
    text-decoration: none;      
    
}

ul li
{
    text-align: center;
    display:inline;
    
    
}

ul li a h3
{
    text-align: center;
    color: grey;
    
}

#main article
{
	
	margin-bottom:10px;
	padding: 10px;

}

aside
{
        margin-top:15%;
	position:fixed;
	width:60%;
	float:left;
	top: 50cm;
	bottom:50%;
	left:0;

}




p
{
	padding: 5px;
}


a:link {color:#FFFFFF ;}     
a:visited {color:#FFFFFF ;}  
ul li a h3:hover 
{
    color: #ffb347;
}  
a:active {color:#000000 ;}  



